body {
  box-sizing: border-box;
  background-color: #181825;
}

#cal-container {
  display: flex;
  width: 300px;
  height: 460px;
  margin: 20px;
  border: 2px solid #45475a;
  padding: 16px;
  border-radius: 12px;
  flex-direction: column;
  gap: 10px;
  background-color: #1e1e2e;
}

#display {
  border: 1px solid #89b4fa;
  border-radius: 12px;
  flex-grow: 1;
}

#function {
  display: flex;
  flex-grow: 1;
  gap: 8px;
}

#function button {
  flex: 1;
  background-color: #313244;
  border: 1px solid #45475a;
  border-radius: 12px;
  padding: 0px;
  font-size: medium;
  color: #E6E9EF;
}

#numbers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}

#numbers button {
  flex-grow: 1;
  flex-basis: calc(25% - 10px);
  aspect-ratio: 1;
  background-color: #313244;
  border: 1px solid #45475a;
  border-radius: 14px;
  font-size: medium;
  color: #A6ADC8;
}